body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sign-log-in-buttons-list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

.sign-log-in-buttons-list li{
  margin: 0em 2em 0em 2em
}

.text-centered{
  text-align: center;
}
